@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Test – Клиенты</title>
</head>
<body>
    <h1>Web-сервис для обмена сообщениями</h1>
    <ul>
        <li><a href="/client1.html">Отправка сообщений</a></li>
        <li><a href="/client2.html">Просмотр в реальном времени</a></li>
        <li><a href="/client3.html">История сообщений</a></li>
    </ul>
</body>
</html>
